Repository Soluto/tweek, pull requests merged in 2020-08, with the labels that each got.

#1298 tidy go.mod
  services/gateway/go.mod
  services/gateway/go.sum
Labels: dependencies, services/gateway

#1301 Github actions
  .circleci/config.yml
  .github/workflows/addons.yaml
  .github/workflows/docker-bake.hcl
  .github/workflows/main.yaml
  .github/workflows/push-tag.sh
  .github/workflows/versions_to_deploy.sh
  CI/codefresh.yml
  CI/docker-compose.override.yml
  CI/docker-compose.yml
  CI/run_tests.sh
  CI/versions_to_deploy.sh
  deployments/dev/docker-compose.e2e.yml
  deployments/dev/docker-compose.override.yml
  deployments/dev/docker-compose.yml
  e2e/ui/spec/login/authorization.js
  package.json
Labels: dev-tooling, quality

#1322 Skip push-images for dependabot builds
  .github/workflows/main.yaml
Labels: dev-tooling

#1315 Use System.Text.Json instead of Newtonsoft in MVC serialization
  core/Utils/JsonValueConverter.Tests/NativeJsonValueConverterTests.cs
  core/Utils/JsonValueConverter.Tests/NewtonsoftJsonValueConverterTests.cs
  core/Utils/JsonValueConverter/JsonValueConverter.csproj
  core/Utils/JsonValueConverter/NativeJsonValueConverter.cs
  core/Utils/JsonValueConverter/NewtonsoftJsonValueConverter.cs
  e2e/integration/spec/gateway/v2.spec.js
  e2e/integration/spec/tweek-api/context.test.js
  services/api/Tweek.ApiService/Controllers/ContextController.cs
  services/api/Tweek.ApiService/Controllers/KeysController.cs
  services/api/Tweek.ApiService/Startup.cs
  services/api/Tweek.ApiService/Tweek.ApiService.csproj
Labels: performance, services/api
